@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url("font-awesome.min.css");
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
    background-attachment: fixed;
    font-size: 16px;
    display: block;
    float: none;
}
a{
    color: #ccc;
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}
/*header*/
    #page-wrapper {
        padding-top: 0;
        width: 100%;
        height: 100%;
        display: initial;
    }
    body.landing #page-wrapper {
        padding-top: 0;
    }

    @-moz-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-webkit-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-ms-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    #header {
        background: #444;
        color: #bbb;
        cursor: default;
        height: 3.25em;
        left: 0;
        line-height: 3.25em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }

        #header h1 {
            color: inherit;
            height: inherit;
            left: 1.25em;
            line-height: inherit;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
        }

            #header h1 a {
                color: #fff;
                font-weight: 400;
                border: 0;
            }

        #header nav {
            height: inherit;
            line-height: inherit;
            position: absolute;
            right: 0.75em;
            top: 0;
            vertical-align: middle;
        }

            #header nav > ul {
                list-style: none;
                margin: 0;
                padding-left: 0;
            }

                #header nav > ul > li {
                    display: inline-block;
                    padding-left: 0;
                }

                    #header nav > ul > li > ul {
                        display: none;
                    }

                    #header nav > ul > li a {
                        display: inline-block;
                        height: 2em;
                        line-height: 1.95em;
                        padding: 0 1em;
                        border-radius: 6px;
                    }

                    #header nav > ul > li a:not(.button) {
                        color: #fff;
                        display: inline-block;
                        text-decoration: none;
                        border: 0;
                    }

                        #header nav > ul > li a:not(.button).icon:before {
                            color: #999;
                            margin-right: 0.5em;
                        }

                    #header nav > ul > li:first-child {
                        margin-left: 0;
                    }

                    #header nav > ul > li.active a:not(.button) {
                        background-color: rgba(153, 153, 153, 0.25);
                    }

                    #header nav > ul > li .button {
                        margin: 0 0 0 0.5em;
                        position: relative;
                    }

        #header input[type="submit"],
        #header input[type="reset"],
        #header input[type="button"],
        #header .button {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #999;
            color: #fff;
        }

            #header input[type="submit"]:hover,
            #header input[type="reset"]:hover,
            #header input[type="button"]:hover,
            #header .button:hover {
                background-color: rgba(153, 153, 153, 0.25);
            }

            #header input[type="submit"]:active,
            #header input[type="reset"]:active,
            #header input[type="button"]:active,
            #header .button:active {
                background-color: rgba(153, 153, 153, 0.5);
            }

        #header .container {
            position: relative;
        }

            #header .container h1 {
                left: 0;
            }

            #header .container nav {
                right: 0;
            }

        #header.reveal {
            -moz-animation: reveal-header 0.5s;
            -webkit-animation: reveal-header 0.5s;
            -ms-animation: reveal-header 0.5s;
            animation: reveal-header 0.5s;
        }

        #header.alt {
            -moz-animation: none;
            -webkit-animation: none;
            -ms-animation: none;
            animation: none;
            background: none;
            color: rgba(255, 255, 255, 0.75);
            position: absolute;
        }

            #header.alt nav > ul > li a:not(.button).icon:before {
                color: rgba(255, 255, 255, 0.75);
            }

            #header.alt nav > ul > li.active a:not(.button) {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #header.alt input[type="submit"],
            #header.alt input[type="reset"],
            #header.alt input[type="button"],
            #header.alt .button {
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
            }

                #header.alt input[type="submit"]:hover,
                #header.alt input[type="reset"]:hover,
                #header.alt input[type="button"]:hover,
                #header.alt .button:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                #header.alt input[type="submit"]:active,
                #header.alt input[type="reset"]:active,
                #header.alt input[type="button"]:active,
                #header.alt .button:active {
                    background-color: rgba(255, 255, 255, 0.2);
                }

    .dropotron {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
        list-style: none;
        margin: calc(-0.5em + 1px) 0 0 1px;
        padding: 0.5em 0;
        width: 11em;
    }

        .dropotron li {
            padding: 0;
        }

            .dropotron li a, .dropotron li span {
                -moz-transition: none;
                -webkit-transition: none;
                -ms-transition: none;
                transition: none;
                border: 0;
                border-top: solid 1px #f2f2f2;
                color: inherit;
                display: block;
                padding: 0.15em 1em;
            }

            .dropotron li:first-child > a, .dropotron li:first-child > span {
                border-top: 0;
            }

            .dropotron li.active > a, .dropotron li.active > span, .dropotron li:hover > a, .dropotron li:hover > span {
                background: #e89980;
                color: #ffffff;
            }

        .dropotron.level-0 {
            font-size: 0.9em;
            margin: 1em 0 0 0;
        }

            .dropotron.level-0:before {
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                background: #fff;
                border: solid 1px rgba(229, 229, 229, 0.5);
                border-bottom: 0;
                border-right: 0;
                box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
                content: '';
                display: block;
                height: 0.75em;
                position: absolute;
                right: 1.25em;
                top: -0.375em;
                width: 0.75em;
                z-index: 0;
            }
#navPanel, #navButton {
    display: none;
}
/*code*/
.header{
    display: block;
    margin-top: 0;
}
.header .menu{
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    z-index: 1;
    position: fixed;
    height: 2.5em;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.23);
    font-size: 1em;
}
.header .menu .option{
    display: inline-block;
    font-family: "Oswald";
    display: inline-block;
    padding: .2em .5em .2em;
    background-color: rgba(0,0,0,0);
    margin: .3em 0 0;
}
.header .menu .option:hover{
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header #service-link:hover{
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header .menu .last{
    border:none;
}
.header .menu  li{
    border-right: 1px solid #ccc;
    border-height: 1em;
}
.header #service-link{
    border:none !important;
    padding-right: 0 !important;;
}
.header .submenu{
    display: none;
    list-style: none;
    position: absolute;
    right: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    top: 2.5em;
    z-index: 0;
    left: 0;
}
.header .submenu li a{
    display: inline-block;
}
.header .submenu li{
    display: inline-block;
    padding: 0 1em;
    font-family: Oswald;
    text-align: left;
    margin: .5em 0;
    font-size: .88em;
}
.header .submenu:after:last-child{
    display: none;
}
.header .submenu.active{
    display: block;
}
.goto-next {
    border: 0;
    bottom: 0;
    display: block;
    height: 5em;
    left: 50%;
    margin: 0 0 0 -5em;
    overflow: hidden;
    position: absolute;
    text-indent: 10em;
    white-space: nowrap;
    width: 9em;
    z-index: 1;
}

.goto-next:before {
    background-image: url("../images/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0em 0 0 -1em;
    position: absolute;
    top: 50%;
    width: 3em;
}
.main .we{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
    background-image: url('../images/work1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em 0 0;
    background-attachment: fixed;;
}
.main .we::before {
    content: '';
    display: none;
    width: 30%;
    height: 55%;
    top: 0;
    position: absolute;
    left:4em;
    background-color: rgba(224,224,224,0.8);
    min-width: 17em;
}
.main .intro{
    display: flex;
    width: 25%;
    min-width: 17em;
    height: 100%;
    top: 2.5em;
    position: absolute;
    left: 2em;
    background-color: rgba(224,224,224,0.8);
    color: #444;
    text-align: left;
    font-family: "Raleway", serif;
    font-weight: 300;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.4);
    padding: 0 1em;;
}
.main .intro .logo{
    display: flex;
    height: 8em;
    width: 100%;
    margin: 1em 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.main .intro .missing{
    display: block;
    color: #D14949;
    font-weight: 600;
    text-align: center;
    margin-top: 2em;
}
.main .intro .hidden{
    display: none;
}
.main .intro #name{
    margin-top: 1em;
}
.main .intro input[type="text"],textarea{
    padding: .3em 1em;
    resize:none;
    display: block;
    width: 100%;
    border: none;
    margin: .5em 0 0;
    font-size: 1em;
    font-family: "Raleway" !important;
    font-weight: 400;
    border-radius: 0;
    outline: none;
}
.main .intro input[type="text"]:focus,textarea:focus{
    background: #eee;
    outline: none;
}
.main .intro input[type="text"]:hover,textarea:hover{
    background: #eee;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    outline: none;
}
.main .intro input[type="submit"]{
    outline: none;
    padding: .4em 1.2em;
    resize:none;
    display: block;
    width: auto;
    border: none;
    margin: 1em 0 0 auto !important;
    font-size: 1em;
    font-weight: 400;
    font-family: "Raleway" !important;
    border-radius: 0;
    background: #777;
    color: #f0f0f0;
}
.main .intro input[type="submit"]:hover{
    background: #666;
    color: #fff;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.main .about{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
    background-image: url('../images/intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    overflow: hidden;;
}
.main .about::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color:rgba(88, 88, 88, 0);
}
.main .contact{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 0;
}
.we .who{
    display: block;
    width: 100%;
    padding: 3em 0;
    background: rgba(136, 152, 166, 0);
    position: relative;
    z-index: 3;
}
.we .logo{
    margin: 0 auto;
    max-height: 13em;
}
.we .logo img{
    width: auto;
    height: 13em;
}
.who .text{
    color: #2f2f2f;
    font-size: 1.2em;
    width: 100%;
    padding: .7em 10% 0;
}
.about .info{
    padding: 0;
    background: rgba(253,253,253,0.67);
    position: relative !important;
    height: auto;
    z-index: 3;
    margin: 0 auto;
    float: none;
}
.about .info:last-child{
    margin-top: 2em;
}
.about .trayectory{
    display: inline-block;
    float: none !important;
    padding-top: 3em;
    padding-bottom: 3em;
    background: rgba(93,93,93,0.8);
    color: #ccc;
    text-align: left;
}
.about .title{
    display: block;
    text-align: left;
    font-size: 2em;
    margin: .7em auto;
    color: #777;
    font-family: Oswald;
}
.about .text{
    display: inline-block;
    float: right;
    text-align: left;
    padding-top: 3em;
    color: #333;
}
.about .text.final{
    float: none;
    padding: 1em 3em;
    color: #333;
    background: rgba(255,255,255,0.3);
}
.main{
    padding: 0;
    text-align: center;
    height: 100%;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .lo .wrapper {
    position: static;
    display: block;
    padding: 0;
    height: auto;
    margin-top: 0;
}
.services{
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

.container{
    height: 50%;
    min-height: 19em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    background: #f0f0f0;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    background-position: center, center;
    z-index: 0;
    cursor:pointer;
    display:inline-block;
    width:33.% !important;
}
.container:hover{
    background-size: 125%;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;

}
.container.one{
    background-image: url("../images/work1.jpg")
}
.container.two{
    background-image: url("../images/work2.jpg")
}
.container.three{
    background-image: url("../images/work3.jpg")
}
.container.four{
    background-image: url("../images/work4.jpg")
}
.container.five{
    background-image: url("../images/work5.jpg")
}
.container.six{
    background-image: url("../images/work6.jpg")
}
.container .text{
    background-color: rgba(64, 64, 64, 0.7);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    position: absolute;
    height: 100%;
    padding: 0;
    color: #f0f0f0;
}
.container .text h1,h2,h3,i{
    vertical-align: middle;
    color: #e0e0e0 !important;
    font-family: Oswald;
    font-weight: 300;
}
.container .text i{
    color: #f0f0f0 !important;
    font-size: 5em;
}
.container .text .first{
    vertical-align: middle;
    padding: 7em 1em;
}
.container .text .second{
    position: absolute;
    height: 100%;
    padding: 3em 1em;
    display: block;
    width: 100%;
}
.container .text .first.dim{
    opacity: 0;
    animation-name: dim;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}
.container .text .first.clear{
    opacity: 1;
    animation-name: clear;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}
.container .text .second.active{
    top:0;
    animation-name: up;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    display: block;
    width: 100%;
}
.container .text .second.unactive{
   animation-name: down;
   animation-duration: .67s;
   animation-timing-function: ease-in-out;
}

.container .more-info{
    background: rgba(0,0,0,0.1);
    color: #fff;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.container .more-info .appearable{
    display: inline-block;
    vertical-align: middle;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.7em;
    font-size: 1.5em;
    font-family: Oswald;
}
.container .more-info:hover{
    background: rgba(0,0,0,0.4);
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.container .more-info:hover .appearable{
    display: inline-block;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.section .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.section img{
    height: 100%;
}
.section .thumb{
    display: block;
    padding: 1em 10% 1.7em;
    background: rgba(253,253,253,0.34);
    position: absolute !important;
    height: auto;
    margin: 0 auto;
    float: none;
    bottom: 0;
    min-height: 3em;
    z-index: 3;
    word-break: break-all;
    width: 100%;
    left: 0;
    right: 0;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce  2s infinite;
  animation: bounce  2s infinite;
}
@webkit-keyframes dim{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes dim{
    from{opacity: 1;}
    to{opacity: 0;}
}
@webkit-keyframes dimclear{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes clear{
    from{opacity: 0;}
    to{opacity: 1;}
}
@webkit-keyframes up{
    from{top:20em;}
    to{top:0;}
}
@keyframes up{
    from{top:20em;}
    to{top:0;}
}
@webkit-keyframes down{
    from{top:0;padding: 3em 1em;}
    to{top:20em;padding: 3em 1em;}
}
@keyframes down{
    from{top:0;padding: 3em 1em;}
    to{top:20em;padding: 3em 1em;}
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@media (max-width: 1204px) {
    .container{
        min-height: 33%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 !important;
        background: #f0f0f0;
        position: relative;
        overflow: hidden;
        background-size: 100% !important;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        background-position: center, center;
        z-index: 0;
    }
    .container:hover{
        background-size: 125% !important;

    }
    .container .text .first{
        padding: 3em 0;
        
    }
    .container .text .second{
        padding: 1em;
    }
}
@media only screen and (max-width: 620px) {
    .we .logo{
        height: 10em;
    }
    .we .logo img{
        height: 10em;
    }
    .we .text{
        font-size: 1.1em;
    }

    .about .text{
        display: inline-block;
        float: none !important;
        text-align: left;
        padding-top: 3em;
        padding-bottom: 3em;
        color: #3A3939;
    }
}
@media only screen and (max-width: 470px) {
    .container{
        height: 14em;
        background-repeat: no-repeat;
        padding: 0 !important;
        background: #f0f0f0;
        position: relative;
        overflow: hidden;
        background-size: 100% !important;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        background-position: center, center;
        z-index: 0;
    }
    .container:hover{
        background-size: 125% !important;

    }
    .contact .contact-form{
        width: 100%;
        padding: 3em 0;
        text-align: center;
        position: static;
        height: 100%;
        margin: 0;
    }
    .contact .contact-form span{
        display: block;
        margin: 0 auto;
        position: relative;
        padding: 0;
    }
    #map{
        display: none;
    }
    .contact .contact-form input[type="text"],textarea,input[type="email"]{
        width: 100%;
        display: block;
        margin: 1em 0 !important;    
    }
    form{
        padding: 0 1em;
    }

}
@media only screen and (max-width: 400px) {
    .we .logo{
        height: 7em;
    }
    .we .logo img{
        height: 7em;
    }
    .we .text{
        font-size: 1em;
    }
    .parragraph{
        font-size: 14px;
    }
    .contact .contact-form span{
        padding-left: 0;
    }
}@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

/* Box Model */

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
/* Grid */

    .row {
        border-bottom: solid 1px transparent;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row > * {
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row:after, .row:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .row.uniform > * > :first-child {
        margin-top: 0;
    }

    .row.uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.\30 \25 > * {
        padding: 0 0 0 0em;
    }

    .row.\30 \25 {
        margin: 0 0 -1px 0em;
    }

    .row.uniform.\30 \25 > * {
        padding: 0em 0 0 0em;
    }

    .row.uniform.\30 \25 {
        margin: 0em 0 -1px 0em;
    }

    .row > * {
        padding: 0 0 0 2em;
    }

    .row {
        margin: 0 0 -1px -2em;
    }

    .row.uniform > * {
        padding: 2em 0 0 2em;
    }

    .row.uniform {
        margin: -2em 0 -1px -2em;
    }

    .row.\32 00\25 > * {
        padding: 0 0 0 4em;
    }

    .row.\32 00\25 {
        margin: 0 0 -1px -4em;
    }

    .row.uniform.\32 00\25 > * {
        padding: 4em 0 0 4em;
    }

    .row.uniform.\32 00\25 {
        margin: -4em 0 -1px -4em;
    }

    .row.\31 50\25 > * {
        padding: 0 0 0 3em;
    }

    .row.\31 50\25 {
        margin: 0 0 -1px -3em;
    }

    .row.uniform.\31 50\25 > * {
        padding: 3em 0 0 3em;
    }

    .row.uniform.\31 50\25 {
        margin: -3em 0 -1px -3em;
    }

    .row.\35 0\25 > * {
        padding: 0 0 0 1em;
    }

    .row.\35 0\25 {
        margin: 0 0 -1px -1em;
    }

    .row.uniform.\35 0\25 > * {
        padding: 1em 0 0 1em;
    }

    .row.uniform.\35 0\25 {
        margin: -1em 0 -1px -1em;
    }

    .row.\32 5\25 > * {
        padding: 0 0 0 0.5em;
    }

    .row.\32 5\25 {
        margin: 0 0 -1px -0.5em;
    }

    .row.uniform.\32 5\25 > * {
        padding: 0.5em 0 0 0.5em;
    }

    .row.uniform.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
    }

    .\31 2u, .\31 2u\24 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }

    .\31 1u, .\31 1u\24 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 0u, .\31 0u\24 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\39 u, .\39 u\24 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u, .\38 u\24 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u, .\37 u\24 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u, .\36 u\24 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u, .\35 u\24 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u, .\34 u\24 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u, .\33 u\24 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u, .\32 u\24 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u, .\31 u\24 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24 + *,
    .\31 1u\24 + *,
    .\31 0u\24 + *,
    .\39 u\24 + *,
    .\38 u\24 + *,
    .\37 u\24 + *,
    .\36 u\24 + *,
    .\35 u\24 + *,
    .\34 u\24 + *,
    .\33 u\24 + *,
    .\32 u\24 + *,
    .\31 u\24 + * {
        clear: left;
    }

    .\-11u {
        margin-left: 91.66667%;
    }

    .\-10u {
        margin-left: 83.33333%;
    }

    .\-9u {
        margin-left: 75%;
    }

    .\-8u {
        margin-left: 66.66667%;
    }

    .\-7u {
        margin-left: 58.33333%;
    }

    .\-6u {
        margin-left: 50%;
    }

    .\-5u {
        margin-left: 41.66667%;
    }

    .\-4u {
        margin-left: 33.33333%;
    }

    .\-3u {
        margin-left: 25%;
    }

    .\-2u {
        margin-left: 16.66667%;
    }

    .\-1u {
        margin-left: 8.33333%;
    }

    @media screen and (max-width: 1680px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28wide\29, .\31 2u\24\28wide\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28wide\29, .\31 1u\24\28wide\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28wide\29, .\31 0u\24\28wide\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28wide\29, .\39 u\24\28wide\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28wide\29, .\38 u\24\28wide\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28wide\29, .\37 u\24\28wide\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28wide\29, .\36 u\24\28wide\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28wide\29, .\35 u\24\28wide\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28wide\29, .\34 u\24\28wide\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28wide\29, .\33 u\24\28wide\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28wide\29, .\32 u\24\28wide\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28wide\29, .\31 u\24\28wide\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28wide\29 + *,
        .\31 1u\24\28wide\29 + *,
        .\31 0u\24\28wide\29 + *,
        .\39 u\24\28wide\29 + *,
        .\38 u\24\28wide\29 + *,
        .\37 u\24\28wide\29 + *,
        .\36 u\24\28wide\29 + *,
        .\35 u\24\28wide\29 + *,
        .\34 u\24\28wide\29 + *,
        .\33 u\24\28wide\29 + *,
        .\32 u\24\28wide\29 + *,
        .\31 u\24\28wide\29 + * {
            clear: left;
        }

        .\-11u\28wide\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28wide\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28wide\29 {
            margin-left: 75%;
        }

        .\-8u\28wide\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28wide\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28wide\29 {
            margin-left: 50%;
        }

        .\-5u\28wide\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28wide\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28wide\29 {
            margin-left: 25%;
        }

        .\-2u\28wide\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28wide\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 1280px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28normal\29, .\31 2u\24\28normal\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28normal\29, .\31 1u\24\28normal\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28normal\29, .\31 0u\24\28normal\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28normal\29, .\39 u\24\28normal\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28normal\29, .\38 u\24\28normal\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28normal\29, .\37 u\24\28normal\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28normal\29, .\36 u\24\28normal\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28normal\29, .\35 u\24\28normal\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28normal\29, .\34 u\24\28normal\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28normal\29, .\33 u\24\28normal\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28normal\29, .\32 u\24\28normal\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28normal\29, .\31 u\24\28normal\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28normal\29 + *,
        .\31 1u\24\28normal\29 + *,
        .\31 0u\24\28normal\29 + *,
        .\39 u\24\28normal\29 + *,
        .\38 u\24\28normal\29 + *,
        .\37 u\24\28normal\29 + *,
        .\36 u\24\28normal\29 + *,
        .\35 u\24\28normal\29 + *,
        .\34 u\24\28normal\29 + *,
        .\33 u\24\28normal\29 + *,
        .\32 u\24\28normal\29 + *,
        .\31 u\24\28normal\29 + * {
            clear: left;
        }

        .\-11u\28normal\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28normal\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28normal\29 {
            margin-left: 75%;
        }

        .\-8u\28normal\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28normal\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28normal\29 {
            margin-left: 50%;
        }

        .\-5u\28normal\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28normal\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28normal\29 {
            margin-left: 25%;
        }

        .\-2u\28normal\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28normal\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 980px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28narrow\29, .\39 u\24\28narrow\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28narrow\29, .\38 u\24\28narrow\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28narrow\29, .\37 u\24\28narrow\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28narrow\29, .\36 u\24\28narrow\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28narrow\29, .\35 u\24\28narrow\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28narrow\29, .\34 u\24\28narrow\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28narrow\29, .\33 u\24\28narrow\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28narrow\29, .\32 u\24\28narrow\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28narrow\29, .\31 u\24\28narrow\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28narrow\29 + *,
        .\31 1u\24\28narrow\29 + *,
        .\31 0u\24\28narrow\29 + *,
        .\39 u\24\28narrow\29 + *,
        .\38 u\24\28narrow\29 + *,
        .\37 u\24\28narrow\29 + *,
        .\36 u\24\28narrow\29 + *,
        .\35 u\24\28narrow\29 + *,
        .\34 u\24\28narrow\29 + *,
        .\33 u\24\28narrow\29 + *,
        .\32 u\24\28narrow\29 + *,
        .\31 u\24\28narrow\29 + * {
            clear: left;
        }

        .\-11u\28narrow\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28narrow\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28narrow\29 {
            margin-left: 75%;
        }

        .\-8u\28narrow\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28narrow\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28narrow\29 {
            margin-left: 50%;
        }

        .\-5u\28narrow\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28narrow\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28narrow\29 {
            margin-left: 25%;
        }

        .\-2u\28narrow\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28narrow\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 840px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28narrower\29, .\39 u\24\28narrower\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28narrower\29, .\38 u\24\28narrower\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28narrower\29, .\37 u\24\28narrower\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28narrower\29, .\36 u\24\28narrower\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28narrower\29, .\35 u\24\28narrower\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28narrower\29, .\34 u\24\28narrower\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28narrower\29, .\33 u\24\28narrower\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28narrower\29, .\32 u\24\28narrower\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28narrower\29, .\31 u\24\28narrower\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28narrower\29 + *,
        .\31 1u\24\28narrower\29 + *,
        .\31 0u\24\28narrower\29 + *,
        .\39 u\24\28narrower\29 + *,
        .\38 u\24\28narrower\29 + *,
        .\37 u\24\28narrower\29 + *,
        .\36 u\24\28narrower\29 + *,
        .\35 u\24\28narrower\29 + *,
        .\34 u\24\28narrower\29 + *,
        .\33 u\24\28narrower\29 + *,
        .\32 u\24\28narrower\29 + *,
        .\31 u\24\28narrower\29 + * {
            clear: left;
        }

        .\-11u\28narrower\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28narrower\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28narrower\29 {
            margin-left: 75%;
        }

        .\-8u\28narrower\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28narrower\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28narrower\29 {
            margin-left: 50%;
        }

        .\-5u\28narrower\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28narrower\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28narrower\29 {
            margin-left: 25%;
        }

        .\-2u\28narrower\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28narrower\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 736px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28mobile\29 + *,
        .\31 1u\24\28mobile\29 + *,
        .\31 0u\24\28mobile\29 + *,
        .\39 u\24\28mobile\29 + *,
        .\38 u\24\28mobile\29 + *,
        .\37 u\24\28mobile\29 + *,
        .\36 u\24\28mobile\29 + *,
        .\35 u\24\28mobile\29 + *,
        .\34 u\24\28mobile\29 + *,
        .\33 u\24\28mobile\29 + *,
        .\32 u\24\28mobile\29 + *,
        .\31 u\24\28mobile\29 + * {
            clear: left;
        }

        .\-11u\28mobile\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28mobile\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28mobile\29 {
            margin-left: 75%;
        }

        .\-8u\28mobile\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28mobile\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28mobile\29 {
            margin-left: 50%;
        }

        .\-5u\28mobile\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28mobile\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28mobile\29 {
            margin-left: 25%;
        }

        .\-2u\28mobile\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28mobile\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 480px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28mobilep\29, .\31 2u\24\28mobilep\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28mobilep\29, .\31 1u\24\28mobilep\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28mobilep\29, .\31 0u\24\28mobilep\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28mobilep\29, .\39 u\24\28mobilep\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28mobilep\29, .\38 u\24\28mobilep\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28mobilep\29, .\37 u\24\28mobilep\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28mobilep\29, .\36 u\24\28mobilep\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28mobilep\29, .\35 u\24\28mobilep\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28mobilep\29, .\34 u\24\28mobilep\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28mobilep\29, .\33 u\24\28mobilep\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28mobilep\29, .\32 u\24\28mobilep\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28mobilep\29, .\31 u\24\28mobilep\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28mobilep\29 + *,
        .\31 1u\24\28mobilep\29 + *,
        .\31 0u\24\28mobilep\29 + *,
        .\39 u\24\28mobilep\29 + *,
        .\38 u\24\28mobilep\29 + *,
        .\37 u\24\28mobilep\29 + *,
        .\36 u\24\28mobilep\29 + *,
        .\35 u\24\28mobilep\29 + *,
        .\34 u\24\28mobilep\29 + *,
        .\33 u\24\28mobilep\29 + *,
        .\32 u\24\28mobilep\29 + *,
        .\31 u\24\28mobilep\29 + * {
            clear: left;
        }

        .\-11u\28mobilep\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28mobilep\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28mobilep\29 {
            margin-left: 75%;
        }

        .\-8u\28mobilep\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28mobilep\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28mobilep\29 {
            margin-left: 50%;
        }

        .\-5u\28mobilep\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28mobilep\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28mobilep\29 {
            margin-left: 25%;
        }

        .\-2u\28mobilep\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28mobilep\29 {
            margin-left: 8.33333%;
        }

    }

/* Basic */
    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

/* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header p {
        color: #999;
        position: relative;
        margin: 0 0 1.5em 0;
        font-style: italic;
    }

    header h2 + p {
        font-size: 1.25em;
        margin-top: -1em;
        line-height: 1.5em;
    }

    header h3 + p {
        font-size: 1.1em;
        margin-top: -0.85em;
        line-height: 1.5em;
    }

    header h4 + p,
    header h5 + p,
    header h6 + p {
        font-size: 0.8em;
        margin-top: -0.5em;
        line-height: 1.5em;
    }

    header.major {
        padding: 1em 0;
        text-align: center;
    }

        header.major h2 {
            margin: 0;
        }

        header.major p {
            display: inline-block;
            border-top: solid 2px #e5e5e5;
            color: #777;
            margin: 1.5em 0 0 0;
            padding: 1.5em 0 0 0;
            font-style: normal;
        }
<<<<<<< HEAD

=======
>>>>>>> b36a898c13a2f48274560c2fd75b4db9e089107b
/* Icon */

    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

        .icon.major {
            background: #666;
            border-radius: 100%;
            color: #ffffff;
            cursor: default;
            display: inline-block;
            height: 5.5em;
            line-height: 5.5em;
            margin: 0 0 2em 0;
            width: 5.5em;
        }

            .icon.major:before {
                font-size: 2.5em;
            }

            .icon.major.accent1 {
                background: #666;
                color: #ffffff;
            }

            .icon.major.accent2 {
                background: #e89980;
                color: #ffffff;
            }

            .icon.major.accent3 {
                background: #7fcdb8;
                color: #ffffff;
            }

            .icon.major.accent4 {
                background: #90b0ba;
                color: #ffffff;
            }

            .icon.major.accent5 {
                background: #e5cb95;
                color: #ffffff;
            }

/* List */

    ol {
        list-style: decimal;
        margin: 0 0 2em 0;
        padding-left: 1.25em;
    }

        ol li {
            padding-left: 0.25em;
        }

    ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }

        ul li {
            padding-left: 0.5em;
        }

        ul.alt {
            list-style: none;
            padding-left: 0;
        }

            ul.alt li {
                border-top: solid 1px #e5e5e5;
                padding: 0.5em 0;
            }

                ul.alt li:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

        ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            ul.icons li {
                display: inline-block;
                padding: 0 1.25em 0 0;
            }

                ul.icons li:last-child {
                    padding-right: 0;
                }

                ul.icons li .icon {
                    color: inherit;
                }

                    ul.icons li .icon:before {
                        font-size: 1.75em;
                    }

        ul.actions {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            ul.actions li {
                display: inline-block;
                padding: 0 1em 0 0;
                vertical-align: middle;
            }

                ul.actions li:last-child {
                    padding-right: 0;
                }

            ul.actions.small li {
                padding: 0 0.5em 0 0;
            }

            ul.actions.vertical li {
                display: block;
                padding: 1em 0 0 0;
            }

                ul.actions.vertical li:first-child {
                    padding-top: 0;
                }

                ul.actions.vertical li > * {
                    margin-bottom: 0;
                }

            ul.actions.vertical.small li {
                padding: 0.5em 0 0 0;
            }

                ul.actions.vertical.small li:first-child {
                    padding-top: 0;
                }

            ul.actions.fit {
                display: table;
                margin-left: -1em;
                padding: 0;
                table-layout: fixed;
                width: calc(100% + 1em);
            }

                ul.actions.fit li {
                    display: table-cell;
                    padding: 0 0 0 1em;
                }

                    ul.actions.fit li > * {
                        margin-bottom: 0;
                    }

                ul.actions.fit.small {
                    margin-left: -0.5em;
                    width: calc(100% + 0.5em);
                }

                    ul.actions.fit.small li {
                        padding: 0 0 0 0.5em;
                    }

    dl {
        margin: 0 0 2em 0;
    }

/* Header */

    #page-wrapper {
        padding-top: 0;;
    }

    body.landing #page-wrapper {
        padding-top: 0;
    }

    @-moz-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-webkit-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-ms-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    #header {
        background: #444;
        color: #bbb;
        cursor: default;
        height: 3.25em;
        left: 0;
        line-height: 3.25em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }

        #header h1 {
            color: inherit;
            height: inherit;
            left: 1.25em;
            line-height: inherit;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
        }

            #header h1 a {
                color: #fff;
                font-weight: 400;
                border: 0;
            }

        #header nav {
            height: inherit;
            line-height: inherit;
            position: absolute;
            right: 0.75em;
            top: 0;
            vertical-align: middle;
        }

            #header nav > ul {
                list-style: none;
                margin: 0;
                padding-left: 0;
            }

                #header nav > ul > li {
                    display: inline-block;
                    padding-left: 0;
                }

                    #header nav > ul > li > ul {
                        display: none;
                    }

                    #header nav > ul > li a {
                        display: inline-block;
                        height: 2em;
                        line-height: 1.95em;
                        padding: 0 1em;
                        border-radius: 6px;
                    }

                    #header nav > ul > li a:not(.button) {
                        color: #fff;
                        display: inline-block;
                        text-decoration: none;
                        border: 0;
                    }

                        #header nav > ul > li a:not(.button).icon:before {
                            color: #999;
                            margin-right: 0.5em;
                        }

                    #header nav > ul > li:first-child {
                        margin-left: 0;
                    }

                    #header nav > ul > li.active a:not(.button) {
                        background-color: rgba(153, 153, 153, 0.25);
                    }

                    #header nav > ul > li .button {
                        margin: 0 0 0 0.5em;
                        position: relative;
                    }

        #header input[type="submit"],
        #header input[type="reset"],
        #header input[type="button"],
        #header .button {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #999;
            color: #fff;
        }

            #header input[type="submit"]:hover,
            #header input[type="reset"]:hover,
            #header input[type="button"]:hover,
            #header .button:hover {
                background-color: rgba(153, 153, 153, 0.25);
            }

            #header input[type="submit"]:active,
            #header input[type="reset"]:active,
            #header input[type="button"]:active,
            #header .button:active {
                background-color: rgba(153, 153, 153, 0.5);
            }

        #header .container {
            position: relative;
        }

            #header .container h1 {
                left: 0;
            }

            #header .container nav {
                right: 0;
            }

        #header.reveal {
            -moz-animation: reveal-header 0.5s;
            -webkit-animation: reveal-header 0.5s;
            -ms-animation: reveal-header 0.5s;
            animation: reveal-header 0.5s;
        }

        #header.alt {
            -moz-animation: none;
            -webkit-animation: none;
            -ms-animation: none;
            animation: none;
            background: none;
            color: rgba(255, 255, 255, 0.75);
            position: absolute;
        }

            #header.alt nav > ul > li a:not(.button).icon:before {
                color: rgba(255, 255, 255, 0.75);
            }

            #header.alt nav > ul > li.active a:not(.button) {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #header.alt input[type="submit"],
            #header.alt input[type="reset"],
            #header.alt input[type="button"],
            #header.alt .button {
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
            }

                #header.alt input[type="submit"]:hover,
                #header.alt input[type="reset"]:hover,
                #header.alt input[type="button"]:hover,
                #header.alt .button:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                #header.alt input[type="submit"]:active,
                #header.alt input[type="reset"]:active,
                #header.alt input[type="button"]:active,
                #header.alt .button:active {
                    background-color: rgba(255, 255, 255, 0.2);
                }

    .dropotron {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
        list-style: none;
        margin: calc(-0.5em + 1px) 0 0 1px;
        padding: 0.5em 0;
        width: 11em;
    }

        .dropotron li {
            padding: 0;
        }

            .dropotron li a, .dropotron li span {
                -moz-transition: none;
                -webkit-transition: none;
                -ms-transition: none;
                transition: none;
                border: 0;
                border-top: solid 1px #f2f2f2;
                color: inherit;
                display: block;
                padding: 0.15em 1em;
            }

            .dropotron li:first-child > a, .dropotron li:first-child > span {
                border-top: 0;
            }

            .dropotron li.active > a, .dropotron li.active > span, .dropotron li:hover > a, .dropotron li:hover > span {
                background: #e89980;
                color: #ffffff;
            }

        .dropotron.level-0 {
            font-size: 0.9em;
            margin: 1em 0 0 0;
        }

            .dropotron.level-0:before {
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                background: #fff;
                border: solid 1px rgba(229, 229, 229, 0.5);
                border-bottom: 0;
                border-right: 0;
                box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
                content: '';
                display: block;
                height: 0.75em;
                position: absolute;
                right: 1.25em;
                top: -0.375em;
                width: 0.75em;
                z-index: 0;
            }

/* Main */

    #main {
        padding: 4em 0;
    }

        #main > header {
            text-align: center;
            margin: 0 0 3em 0;
        }

            #main > header h2 {
                font-size: 2.75em;
                margin: 0;
            }

            #main > header p {
                border-top: solid 2px #e5e5e5;
                color: #777;
                display: inline-block;
                font-style: normal;
                margin: 1em 0 0 0;
                padding: 1em 0 1.25em 0;
            }

    body.landing #main {
        margin-top: -14em;
    }

/* Footer */

    #footer {
        background: #f0f0f0;
        padding: 4em 0 6em 0;
        text-align: center;
    }

        #footer .icons a {
            -moz-transition: opacity 0.2s ease-in-out;
            -webkit-transition: opacity 0.2s ease-in-out;
            -ms-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
            opacity: 0.35;
        }

            #footer .icons a:hover {
                opacity: 0.75;
            }

        #footer .copyright {
            color: #999;
            font-size: 0.9em;
            line-height: 1em;
            margin: 2em 0 0 0;
            padding: 0;
            text-align: center;
        }

            #footer .copyright a {
                color: inherit;
            }

            #footer .copyright li {
                border-left: solid 1px #dddddd;
                display: inline-block;
                list-style: none;
                margin-left: 1em;
                padding-left: 1em;
            }

                #footer .copyright li:first-child {
                    border-left: 0;
                    margin-left: 0;
                    padding-left: 0;
                }

/* CTA */

    #cta {
        background: #e89980;
        color: #f9e5df;
        padding: 3.5em 0 4em 0;
        text-align: center;
    }

        #cta h2, #cta h3, #cta h4, #cta h5, #cta h6 {
            color: inherit;
        }

        #cta form {
            margin: 0 auto;
            max-width: 100%;
            width: 25em;
        }

        #cta input[type="submit"],
        #cta input[type="reset"],
        #cta input[type="button"],
        #cta .button {
            box-shadow: none;
            background: #fff;
            color: #e89980;
        }

        #cta input[type="text"],
        #cta input[type="password"],
        #cta input[type="email"],
        #cta select,
        #cta textarea {
            color: #ffffff;
            background: rgba(255, 255, 255, 0.15);
            border: 0;
        }

            #cta input[type="text"]:focus,
            #cta input[type="password"]:focus,
            #cta input[type="email"]:focus,
            #cta select:focus,
            #cta textarea:focus {
                box-shadow: inset 0 0 0 2px #fff;
            }

        #cta ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.75) !important;
        }

        #cta :-moz-placeholder {
            color: rgba(255, 255, 255, 0.75) !important;
        }

        #cta ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.75) !important;
        }

        #cta :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.75) !important;
        }

        #cta .formerize-placeholder {
            color: rgba(255, 255, 255, 0.75) !important;
        }

/* Wide */

    @media screen and (max-width: 1680px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 13pt;
            }

        /* Banner */

            #banner {
                padding: 10em 0 18em 0;
            }

    }

/* Normal */

    @media screen and (max-width: 1280px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 11pt;
            }

        /* Header */

            .dropotron.level-0 {
                font-size: 1em;
            }

        /* Banner */

            #banner {
                background-attachment: scroll;
            }

                #banner h2 {
                    font-size: 3.5em;
                }

    }

/* Narrow */

    @media screen and (max-width: 980px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 11pt;
            }

    }

/* Narrower */

    #navPanel, #navButton {
        display: none;
    }

    @media screen and (max-width: 840px) {
        .header{
            display: none;
        }
        #page-wrapper {
              padding-top: 0;
              height: 200%;
        }
        .main .we{
            top: 0;
            padding-top: 0;
        }
        .main .intro{
            left: 0;
        }
        /* Off-Canvas Navigation */

            #page-wrapper {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                padding-bottom: 1px;
            }

            #navButton {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                display: block;
                height: 44px;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 10001;
            }

                #navButton .toggle {
                    text-decoration: none;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    border: 0;
                    outline: 0;
                }

                    #navButton .toggle:before {
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-transform: none !important;
                    }

                    #navButton .toggle:before {
                        background: rgba(255,255,255,0.028);
                        color: #fff;
                        content: '\f0c9';
                        display: block;
                        font-size: 16px;
                        height: 2.5em;
                        left: 0;
                        line-height: 2.5em;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        width: 3.5em;
                        z-index: 2;
                    }
                    
                    #navButton .toggle:after {  
                        background: rgba(0, 0, 0, 0.9);
                        color: #fff;
                        content: 'Menu';
                        display: block;
                        font-size: 16px;
                        height: 2.5em;
                        left: 0;
                        line-height: 2.5em;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        width: 100%;
                        font-family: Oswald;
                        padding-right: 1em;
                        z-index: 1;
                    }

            #navPanel {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transform: translateX(-275px);
                -webkit-transform: translateX(-275px);
                -ms-transform: translateX(-275px);
                transform: translateX(-275px);
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                display: block;
                height: 100%;
                left: 0;
                overflow-y: auto;
                position: fixed;
                top: 0;
                width: 275px;
                z-index: 10002;
                background: #2b2b2b;
                color: #bbb;
            }

                #navPanel .link {
                    border-bottom: 0;
                    border-top: solid 1px rgba(255, 255, 255, 0.05);
                    color: #bbb;
                    display: block;
                    height: 44px;
                    line-height: 44px;
                    padding: 0 1em 0 1em;
                    text-decoration: none;
                    font-family: Oswald;
                }

                    #navPanel .link:first-child {
                        border-top: 0;
                    }

                    #navPanel .link.depth-0 {
                        color: #fff;
                    }
                    #navPanel .link.depth-0:nth-child(1) {
                        display: none;
                    }
                    #navPanel .link.depth-0:nth-child(2) {
                        display: none;
                    }
                    #navPanel .link.depth-0:nth-child(3) {
                        display: none;
                    }

                    #navPanel .link .indent-1 {
                        display: inline-block;
                        width: 1em;
                    }

                    #navPanel .link .indent-2 {
                        display: inline-block;
                        width: 2em;
                    }

                    #navPanel .link .indent-3 {
                        display: inline-block;
                        width: 3em;
                    }

                    #navPanel .link .indent-4 {
                        display: inline-block;
                        width: 4em;
                    }

                    #navPanel .link .indent-5 {
                        display: inline-block;
                        width: 5em;
                    }

            body.navPanel-visible #page-wrapper {
                -moz-transform: translateX(275px);
                -webkit-transform: translateX(275px);
                -ms-transform: translateX(275px);
                transform: translateX(275px);
            }

            body.navPanel-visible #navButton {
                -moz-transform: translateX(275px);
                -webkit-transform: translateX(275px);
                -ms-transform: translateX(275px);
                transform: translateX(275px);
            }

            body.navPanel-visible #navPanel {
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
            }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 11pt;
            }

            h2 {
                font-size: 1.75em;
                line-height: 1.35em;
                letter-spacing: -0.025em;
            }

            h3 {
                font-size: 1.5em;
            }

            h4 {
                font-size: 1em;
            }

        /* Section/Article */

            header.major {
                padding: 1em;
            }

                header.major h2, header.major p {
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }

        /* Box */

            .box {
                margin: 1em;
                overflow-x: hidden;
                padding: 2em 2em !important;
            }

                .box.features .features-row {
                    border-top: 0;
                    padding: 0;
                }

                    .box.features .features-row section {
                        border: 0;
                        border-top: solid 1px #e5e5e5 !important;
                        float: none;
                        margin: 2em 0 0 0 !important;
                        padding: 2em 0 0 0 !important;
                        width: 100%;
                    }

                    .box.features .features-row:first-child section:first-child {
                        border-top: 0 !important;
                        margin-top: 0 !important;
                        padding-top: 0 !important;
                    }

                .box .image.featured {
                    margin-left: -2em;
                    width: calc(100% + 4em);
                }

                    .box .image.featured:first-child {
                        margin-bottom: 2em;
                        margin-top: -2em;
                    }

                    .box .image.featured:last-child {
                        margin-bottom: -2em;
                        margin-top: 2em;
                    }

        /* Banner */

            #banner {
                padding: 4em 0;
            }

                #banner h2 {
                    font-size: 2.25em;
                }

                #banner p {
                    font-size: 1.25em;
                }

        /* Main */

            #main {
                padding: 4em 0 0 0;
            }

                #main > header {
                    margin: 0 2em 1.5em 2em;
                }

                    #main > header h2 {
                        font-size: 2em;
                    }

                    #main > header p {
                        font-size: 1em;
                        padding-bottom: 1em;
                    }

            body.landing #main {
                padding: 0;
                margin-top: 0;
            }

        /* Footer */

            #footer {
                padding: 4em 0;
            }

                #footer .copyright li {
                    border-left: 0;
                    display: block;
                    line-height: 2em;
                    margin-left: 0;
                    padding-left: 0;
                }

    }

/* Mobile (Portrait) */

    @media screen and (max-width: 480px) {

        /* Basic */

            html, body {
                min-width: 320px;
            }

            body, input, select, textarea {
                font-size: 11pt;
            }

        /* Section/Article */

            header.major {
                padding: 0;
            }

        /* List */

            ul.actions {
                margin: 0 0 2em 0;
            }

                ul.actions li {
                    display: block;
                    padding: 1em 0 0 0;
                    text-align: center;
                    width: 100%;
                }

                    ul.actions li:first-child {
                        padding-top: 0;
                    }

                    ul.actions li > * {
                        width: 100%;
                        margin: 0 !important;
                    }

                        ul.actions li > *.icon:before {
                            margin-left: -2em;
                        }

                ul.actions.small li {
                    padding: 0.5em 0 0 0;
                }

                    ul.actions.small li:first-child {
                        padding-top: 0;
                    }

        /* Box */

            .box {
                border-radius: 0;
                box-shadow: none;
                margin: 1em 0 0 0;
                padding: 3em 1em !important;
            }

                .box.features .features-row section {
                    margin: 3em 0 0 0 !important;
                    padding: 3em 0 0 0 !important;
                }

                .box .image.featured {
                    border-radius: 0;
                    margin-left: -1em;
                    width: calc(100% + 2em);
                }

                    .box .image.featured img {
                        border-radius: 0 !important;
                    }

                    .box .image.featured:first-child {
                        margin-bottom: 3em;
                        margin-top: -3em;
                    }

                    .box .image.featured:last-child {
                        margin-bottom: -3em;
                        margin-top: 3em;
                    }

        /* Banner */

            #banner {
                padding: 5em 1em 4em 1em;
            }

        /* Main */

            #main > .box:first-child {
                margin-top: 0;
            }

        /* CTA */

            #cta {
                padding: 2.5em 1em 3em 1em;
            }

    }